/*
 * FileName : .babelrc
 * ProjectName : demo
 * Author : terrorblade
 * Created Date: 2019-10-22 17:59:39
 * Description : 
 * -----
 * Last Modified: 2019-10-22 17:59:49
 * Modified By : 
 * -----
 * Copyright (c) 2019 芒果动听 Corporation. All rights reserved.
 */

 {
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
    ]
}





